<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ananas_icon.png</string>
	<string>butter_scotch_ice_cream_icon.png</string>
	<string>cake_icon.png</string>
	<string>caramel_apple_icon.png</string>
	<string>cone_ice_cream_icon.png</string>
	<string>cotton_candy_icon.png</string>
	<string>french_fries_icon.png</string>
	<string>red_apple_icon.png</string>
	<string>rocket_pop_icon.png</string>
</array>
</plist>
