<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Barack Obama</string>
	<string>Cung Le</string>
	<string>Ip Man</string>
	<string>Steve Job</string>
	<string>Bill Gate</string>
	<string>Jony Ive</string>
	<string>Messi</string>
	<string>Xavi</string>
	<string>Vila</string>
	<string>Fabegas</string>
</array>
</plist>
